<script lang="ts" setup>
import { ref } from "vue";
const emo = ref<{ name: string; img: string; status: boolean; id: number }[]>([
  {
    name: "Angry",
    img: "feeling_imgs/angry.png",
    status: false,
    id: 1,
  },
  {
    name: "Cute",
    img: "feeling_imgs/cute.png",
    status: false,
    id: 2,
  },
  {
    name: "Excited",
    img: "feeling_imgs/excited.png",
    status: false,
    id: 3,
  },
  {
    name: "Pain",
    img: "feeling_imgs/pain.png",
    status: false,
    id: 4,
  },
  {
    name: "Shocked",
    img: "feeling_imgs/shocked.png",
    status: false,
    id: 5,
  },
  {
    name: "Smile",
    img: "feeling_imgs/smile.png",
    status: true,
    id: 6,
  },
]);
const img = ref("feeling_imgs/smile.png");
const txt = ref("Smile");
const changecolor = (item: { name: string; img: string; status: boolean }) => {
  img.value = item.img;
  txt.value = item.name;
  emo.value.forEach((item) => (item.status = false));
  if (item.status === false) {
    item.status = true;
  } else {
    item.status = !item.status;
  }
};
</script>
<template>
  <v-container class="mt-10">
    <v-row>
      <v-col cols="6"
        ><v-img :src="img" class="left" height="550px"> </v-img
      ></v-col>
      <v-col cols="6">
        <v-row>
          <v-col class="center">
            <h1>{{ txt }}</h1>
          </v-col>
        </v-row>
        <v-row v-for="item in emo" :key="item.id">
          <v-btn
            width="45vw"
            height="5vh"
            class="mt-5 ma-2"
            @click="changecolor(item)"
            :class="{ yellow: item.status, wh: !item.status }"
            >{{ item.name }}</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}

.wh {
  background-color: white;
}

.left {
  margin-right: 120px;
}
.center {
  text-align: center;
}
</style>
