<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
const num1 = ref<number[]>([]);
function show(num: number) {
  num1.value.splice(0, num1.value.length);
  for (let i = 1; i <= num; i++) {
    num1.value.push(i);
  }
}
</script>

<template>
  <div>
    <v-form>
      <v-text-field
        class="ma-10"
        label="Please input Number"
        v-model="num"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        :oninput="show(num)"
      >
      </v-text-field>
    </v-form>
    <v-card flat class="ma-10">
      <v-container style="height: 300px; overflow: auto">
        <v-row>
          <v-col cols="12 " md="1" v-for="item in num1" :key="item">
            {{ item }}
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>
