<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <div class="text-h6">Second Component</div>
  <div class="text-h6">{{ useCounter.count * 2 }}</div>
  <v-btn class="mt-4 text-h6" @click="useCounter.decrease">DECREASE</v-btn>
</template>
